<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oracle Lens</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{{ url_for('static', filename='s_script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='media/OracleLens.png') }}">
</head>
<body class="bg-gray-900 text-white min-h-screen flex flex-col items-center justify-center p-6">
  <div class="fixed top-0 left-0 w-full bg-gray-800 shadow-md p-4 z-10 flex items-center justify-start space-x-4 border-b border-gray-700">
    <a href="{{ url_for('home') }}" class="flex items-center space-x-2">
      <img src="{{ url_for('static', filename='media/OracleLens.png') }}" alt="RiftIQ Logo" class="h-10 w-10 rounded-lg">
    </a>
    <button id="leaderboard" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg font-semibold">Leaderboard</button>
  </div>
  
  <div>
    <h1 class="font-mono text-6xl font-bold mb-6">Oracle Lens</h1>
    <h2 class="font-mono text-xl font-bold mb-6">League of Legends AI Coach</h2>
    <text class="font-mono text-m font-bold mb-6">Enter you Summoner name</text>
  </div>

  <div class="input-container">
    <input type="text" id="sname" class="px-4 py-2 rounded-lg text-black" placeholder="Game Name">
    <input type="text" id="tag" class="px-4 py-2 rounded-lg text-black" placeholder="Tag (e.g. NA1)">
    <button id="setUserBtn" class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg font-semibold inline-block">Search</button>
  </div>

  <div id="status"></div>

</body>
</html>